@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-pink: #d81ec8;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Slab", serif;
}

/***********************NAVBAR*******************************/

nav {
  z-index: 2;
}
.logo {
  width: 12rem;
}

/**********NAV Links**************/

nav a.nav-link {
  letter-spacing: 0.05rem;
  cursor: pointer;
}
nav ul {
  margin-left: auto;
}
nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin: 0rem 0.75rem;
  /* color: var(--primary-white); */
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  height: 3rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-pink);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-pink);
}

/***********************Header*******************************/

.header-wrapper {
  position: relative;
  background: url(./assets/background5.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.main-info h1 {
  /* color: lightgray; */
  color: var(--primary-pink);
  text-transform: uppercase;
}

/***********************Typed Text****************************/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media (max-width: 520px) {
  .main-info h1 {
    font-size: 1.6rem;
  }
  .typed-text {
    font-size: 1.3rem;
  }
}

/***********************Header Button****************************/
.header-btn {
  border: 1px solid var(--primary-pink);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
  text-decoration: none;
}

.header-btn:hover {
  background-color: var(--primary-pink);
  color: var(--primary-white);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

/***********************Particles JS**************************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
@media (max-width: 520px) {
  .particles-canvas {
    display: none;
  }
} ;
